package-lock = false
# TODO: We need to keep `legacy-peer-deps` until all sub-dependencies of `eslint-config-eslint` support ESLint v10.
# Removing it too early could cause `npm install` to fail.
legacy-peer-deps = true 
