name: CI
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
jobs:
    verify_files:
        name: Verify Files
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"
            - name: Install dependencies
              run: npm install
            - name: Build
              run: npm run build
            - name: Lint files
              run: npm run lint
            - name: Check Formatting
              run: npm run fmt:check
    test:
        name: Test
        strategy:
            matrix:
                os: [ubuntu-latest]
                node: [23.x, 22.x, 21.x, 20.x, 18.x, "18.18.0"]
                include:
                    - os: windows-latest
                      node: "lts/*"
                    - os: macOS-latest
                      node: "lts/*"
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
            - name: Install dependencies
              run: npm install
            - name: Run tests
              run: npm run test
    jsr_test:
        name: Verify JSR Publish
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"
            - name: Install Packages
              run: npm install
            - name: Run --dry-run
              run: |
                  npm run build
                  npm run test:jsr
